#map {
  height: 500px;
  width: 500px;
}

cd body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
.row {
  text-align: center;
}
.thumbnails {
    text-align:center;
}
.Name {

}
.thumbnails > li {
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}
.formBox {
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

.bigBox {
background-image: -webkit-gradient(
	linear,
	left top,
	right bottom,
	color-stop(0, #6949DE),
	color-stop(1, #6BFFCE),
	color-stop(1, #FF0000)
);
height: 100%;

background-image: -o-linear-gradient(right bottom, #6949DE 0%, #6BFFCE 100%, #FF0000 100%);
background-image: -moz-linear-gradient(right bottom, #6949DE 0%, #6BFFCE 100%, #FF0000 100%);
background-image: -webkit-linear-gradient(right bottom, #6949DE 0%, #6BFFCE 100%, #FF0000 100%);
background-image: -ms-linear-gradient(right bottom, #6949DE 0%, #6BFFCE 100%, #FF0000 100%);
background-image: linear-gradient(to right bottom, #6949DE 0%, #6BFFCE 100%, #FF0000 100%);
}

.footer {
  position: fixed;
  top: 0%;
  transform: translateY(100%);
}
.signupForm {
  display: block;
  background: -webkit-gradient(
  	linear,
  	left top,
  	right bottom,
  	color-stop(0.77, #6974DA),
  	color-stop(1, #6AD2D2)
  );
background-image: -o-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: -moz-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: -webkit-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: -ms-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: linear-gradient(to right bottom, #6974DA 77%, #6AD2D2 100%);

  postion: relative;
  top: 100px;
  height: 500px;
  width: 500px;
}
.loginForm {
  display: block;
  background: -webkit-gradient(
  	linear,
  	left top,
  	right bottom,
  	color-stop(0.77, #6974DA),
  	color-stop(1, #6AD2D2)
  );
background-image: -o-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: -moz-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: -webkit-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: -ms-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
background-image: linear-gradient(to right bottom, #6974DA 77%, #6AD2D2 100%);

  postion: relative;
  top: 100px;
  height: 400px;
  width: 500px;
}

.extension {
  height: 100px;
}



.form-group{
  padding-top: 40px;
}

/*.signupForm:hover{109CFF
  background-color: -webkit-gradient(
  	linear,
  	left top,
  	right bottom,
  	colorb -stop(0.77, #6974DA),
  	color-stop(1, #6AD2D2)
  );*/

  /*background-image: -o-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
  background-image: -moz-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
  background-image: -webkit-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
  background-image: -ms-linear-gradient(right bottom, #6974DA 77%, #6AD2D2 100%);
  background-image: linear-gradient(to right bottom, #6974DA 77%, #6AD2D2 100%);}*/


/*div {
  transition: background-color 0.5s ease;
  background-color: red;
}
div:hover {
  background-color: green;
}*/
